body{
	font-family: Arial;
	font-size: 16px;
	margin: 0;
}
h1{
    background-color: yellow; 
    color:Tomato;
}
.title{
	text-align: center;
	padding: 16px;
}

.pokemon-list{
	display: grid;
	grid-template-columns: 1fr 50px 1fr;
	
	max-width: 800px;
	margin: auto;
}

.pokemon{
	border: 1px solid #333;
	padding: 10px;
	
	background: #f5f5f5;
	text-align: center;
}

.img{
	width: 500%;
}

.button{
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 16px;
	margin-top: 16px;
	cursor: pointer;
	font-size: 16px;
	height: 80px;
}

.button:hover{
	background-color: #00796B;
}

	

	
	